{% extends "layout.html" %}

{% block title %}
Peanut Gallery
{% endblock %}

{% block main %}
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <!-- Slideshow -->
        <!-- adapted from bootstrap: https://getbootstrap.com/docs/4.5/components/carousel/ -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
            <div class="carousel-inner">

                <!-- looping through the covers and loading them into our carousel - works with any database with these headers -->
                {% for cover in covers %}
                <p id="test"></p>
                <a href="/album?title={{ cover.title }}&artist={{ cover.artist }}&cover={{ cover.project_art }}&score={{ cover.score }}">
                    <div class="carousel-item {% if loop.index==1 %} active {% endif %}" id="slide{{ loop.index }}">
                        <img class="d-block w-100" id="output" src="{{ cover.project_art }}"
                            alt="slide{{ loop.index }}">
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
<hr>
<!-- top 100 list -->
<h1>Today's Top 100</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ol>
                <!-- looping through using passed table - works with continually updating lists like top 100 -->
                {% for top in tops %}
                <li>
                     <!-- adapted from bootstrap: https://getbootstrap.com/docs/4.0/components/list-group/ -->
                    <div class="list-group">
                        <a class="list-group-item list-group-item-mine" href="/album?title={{ top.title }}&artist={{ top.artist }}&cover={{ top.project_art }}&score={{ top.score }}">{{
                            top.title }} by {{ top.artist }} <br> Peanut Score: {{ top.score }} </a>
                    </div>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
<hr>
<h1>Try Something New!</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ol>
                <!-- looping through using passed table - works with continually updating lists like random stuff -->
                {% for rand in rands %}
                <li>
                    <!-- adapted from bootstrap: https://getbootstrap.com/docs/4.0/components/list-group/ -->
                    <div class="list-group">
                        <a class="list-group-item list-group-item-mine" href="/album?title={{ rand.title }}&artist={{ rand.artist }}&cover={{ rand.project_art }}&score={{ rand.score }}">{{
                            rand.title }} by {{ rand.artist }} <br> Peanut Score: {{ rand.score }}</a>
                    </div>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>

{% endblock %}
